.color-symbols-container {
  text-align: center;
  margin-bottom: 20px;
}

.color-symbols img {
  height: 80px;
  margin: 10px;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.filters select,
.filters input {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.toggle-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #218838;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.results-container ul {
  list-style-type: none;
  padding: 0;
}

.results-container .card {
  text-align: center;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 300px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results-container img {
  max-width: 200px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.card-buttons {
  margin-top: 10px;
}

.card-buttons button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card-buttons button:hover {
  background-color: #0056b3;
}

.card-buttons button:last-child {
  background-color: #dc3545;
}

.card-buttons button:last-child:hover {
  background-color: #c82333;
}

.error {
  color: red;
  font-weight: bold;
}
